/* CONTACT FORM */
:root {
  --edge-size: 4px;
  --step-size: 32px;

  --fern-green: hsla(100, 42%, 36%, 1);
  --asparagus: hsla(99, 40%, 46%, 1);
  --dark-moss-green: hsla(101, 45%, 27%, 1);
  --platinum: hsla(20, 18%, 90%, 1);
  --taupe-gray: hsla(10, 7%, 64%, 1);
  --dark-moss-green-2: hsla(102, 43%, 27%, 1);
  --royal-blue-web-color: hsla(225, 60%, 55%, 1);
}

.contact-section {
  background-color: #fff;
  padding: 3rem 2rem;
  z-index: 100;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-section button {
  align-self: end;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.42);
  z-index: 10;
}

/* BUTTON UI */
.btn {
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  display: block;
  position: relative;
}
.btn::after,
.btn::before {
  content: "";
  width: 1px;
  height: 100%;
}

.btn::before {
  position: absolute;
  background-color: var(--dark-moss-green);
  bottom: 0;
  left: -1px;
}
.btn::after {
  position: absolute;
  background-color: var(--dark-moss-green);
  bottom: 0;
  right: -1px;
}

.btn-div {
  background-color: var(--fern-green);
  color: var(--platinum);
  display: inline-block;
  position: relative;
  border: none;
  align-self: end;
}

.btn-div::before,
.btn-div::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}
.btn-div::before {
  width: calc(100% + 2px);
  height: calc(100% + 8px);
  left: -1px;
  bottom: -4px;
  background-color: var(--fern-green);
  box-shadow: inset 0 var(--edge-size) var(--asparagus),
    inset 0 -4px var(--dark-moss-green), 0 3px rgba(0, 0, 0, 0.5);
  z-index: -1;

  border: 1px solid black;
}

.btn-div::after {
  height: calc(100% + 2px);
  width: calc(100% + 8px);
  left: -4px;
  bottom: -1px;
  background-color: var(--dark-moss-green);
  box-shadow: 0 3px rgba(0, 0, 0, 0.5);
  z-index: -2;
  border: 1px solid black;
}

/* BUTTON UI -> HOVER */
.btn-div:hover {
  background-color: var(--fern-green-2);
}

/* BUTTON UI -> FOCUS */
.btn-div:focus-within {
  outline: 2px solid var(--platinum);
  outline-offset: 2px;
}
.btn-div:focus-within::after {
  box-shadow: none;
}
.btn-div:focus-within::before {
  box-shadow: inset 0 var(--edge-size) var(--asparagus),
    inset 0 -4px var(--dark-moss-green);
}

.btn-div:focus-within .btn {
  outline: 1px solid var(--royal-blue-web-color);
  outline-offset: 2px;
}

/* BUTTON UI -> DISABLED */
.btn-div:has(button:disabled) {
  background-color: var(--platinum);
  color: var(--taupe-gray);
}
.btn-div:has(button:disabled)::after,
.btn-div:has(button:disabled)::before {
  background-color: var(--platinum);
  border: 1px solid var(--taupe-gray);
  box-shadow: none;
}

.btn:disabled::before,
.btn:disabled::after {
  background-color: var(--platinum);
}

/* BUTTON UI -> PRESSED */
.btn-div:active {
  background-color: var(--dark-moss-green-2);
  outline: none;
}

.btn-div:active:after,
.btn-div:active:before {
  background-color: var(--dark-moss-green-2);
  box-shadow: none;
}

.btn:active:before,
.btn:active:after {
  background-color: var(--dark-moss-green-2);
}

.btn-div .btn:active {
  outline: none;
}

/* Modal */
.dialog::backdrop {
  background-color: hsla(334, 100%, 49%, 0.43);
  border: none;
  padding: 3rem;
}

.dialog .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
}

/* FORM PROGRESS BAR */

.progress-container ol {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  counter-reset: step-number;
}

.progress-container li::before {
  counter-increment: step-number;
  content: counter(step-number);
  background-color: var(--royal-blue-web-color);
  width: var(--step-size);
  height: var(--step-size);
  display: flex;
  align-items: center;
}
